/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
/*  
background: url(cachou.jpg);
*/

  font-family:  Tahoma, Lucida, Verdana, Helvetica, arial, clean;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 130%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}


a {
  color:  gray;
  text-decoration: none;
}

a:hover {
  border-bottom: 3px solid #aec2e7;
}



a:visited {
  color: darkgrey; 
}

table {
  font: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.zoom:hover {
   font-size: 130%;
   border: 0px;
}

.bandeau {

 /* float: left;*/
  text-align: center;
  margin: 0em 2em 2em 1em;
  background: url(aldine.png) no-repeat  160px 3px;
 
}
.bandeau span a:hover {
border-bottom: 4px solid #aec2e7;
padding: 0px;
//color: #aec2e7;
}
.top {
 float:left;
}
.bandeau1 {
 margin-left:auto;
 margin-right:auto;

 height: 150px;
 width: 800px;
 background:url(header.jpg) no-repeat;
}

.site ul li{
	 margin: auto auto auto 3em;
	 list-style-type: none; 

 }

.site {
  padding: 1em;
  font-size: 90%;
  text-align: justify;
  width: 77%;
  margin:  auto;
  line-height: 1.5em;
  background-color: white;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;  
}

.site .meta {
  color: #aaa;
}

#post {
   padding: 1em;
   
   /*
    border: 1px solid black;  
   -moz-border-radius: 8px;
   */
   }

#post h1:first-letter  { font-size: 200%; float: none }

#categories {
 font-size: 85%;
 float: right;
 clear: right;
 padding: 2px 0 0 2em;
 background:url(tag.png) no-repeat left 4px;
 line-height: auto;
}
#categories ul li{
 list-style-type: none;

}

.powered {
  font-size: 85%;
  float: right;
}
.prev:hover {

  font-size: 130%;
   border: 0px;
}

.next {
	float: right;
	clear: right;
  }
.next:hover {  
  font-size: 130%;
   border: 0px;
}
.nuage div a:hover {  
  font-size: 130%;
   border: 0px;
   color: #4e5a70
}

.citation {
	float: right;
	clear: right;
  text-align: justify;
  width: 25em;
 	margin : 0.5em ;
	border: 1px dotted black;
	background:#aec2e7;
	padding : 0.5em;

}
