/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}


body {
  background-color: white;
  color: #444444;
  font-family:  'Droid Sans',"Helvetica Neue",Helvetica,Verdana,sans-serif;
  font-size: 12pt;
  line-height: 1.3em;

}

h1, h2, h3, h4 {
  text-shadow: 0px 1px 1px #666;
}

h5 {
font-style:italic
}

h1 {
  font-size: 130%;
  margin-bottom: 1em;
  font-style:italic;
}



p {
  margin: 1em 0;
}


a {
  color:  #3993ff;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  border-bottom: 3px solid darkgray;
}

a:visited {
  color: grey; 
}

table {
  font: 100%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
#small {
  text-align: center;
  font-size: 75%;
  margin: 0;
  line-height: 0;
}

#asso b  {
  font-family:  'Droid Sans',"Helvetica Neue",Helvetica,Verdana,sans-serif;
  font-size: 12pt;
  line-height: 1.3em;
  font-size: 130%;
  margin: 1em 0;
  text-shadow: 0px 1px 1px #666;
}

#asso i {

  text-align: right;
  margin: 0.5em;
  padding-right: 0.5em ;
  float: right;
  clear: right;

}

  .zoom:hover {
  /* font-size: 130%;*/
   border-bottom: 1px solid darkgray;
   /*font-style:italic;*/
}


.bandeau {

 /* float: left;*/
  text-align: center;
  margin: 0em 2em 2em 1em;
  background: url(aldine.png) no-repeat  275px 3px;
 
}
.bandeau span a:hover {
  border-bottom: 4px solid #aec2e7;
  padding: 0px;

}
.top {
  float:left;
}
#archive {
  float:right;
}
.bandeau1 {
 margin-left:auto;
 margin-right:auto;

 height: 150px;
 width: 1024px;
 background:url(header.jpg) no-repeat;
   border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px ;
	-khtml-border-radius: 8px ;
}

.site ul li{
	 margin: auto auto auto 3em;
	 list-style-type: none; 

 }

.site {
  /*padding: 1em;*/
  text-align: justify;
  width: 85%;
  margin:  auto;
  line-height: 1.5em;
  background-color: white;
}

.title {
  color: #a00;
  font-weight: bold;
  margin-bottom: 2em;  
}

.site .meta {
  color: #aaa;
}

#post {
  border: 1px solid darkgrey;
  background: /*#add2db*/    /*#CCCCFF*/ #ADD8E6;
	padding : 0.5em;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;  
   -webkit-box-shadow: 5px 5px 3px #888;
   -moz-box-shadow: 5px 5px 3px #888;
   box-shadow: 5px 5px 3px #888;
   }
   
#post h1 {
	border-bottom: 1px solid gray;
}
#post h1:first-letter  { font-size: 200%; float: none }

#post a {
 /*border-bottom: 1px solid red;*/
 }
#post a:hover {
  border-bottom: 1px solid darkgray;
}
#post a:visited {
  color: grey;
  /*border-bottom: 1px solid darkgray;*/
} 
#categories {
 font-size: 85%;
 float: right;
 //clear: right;
 color: darkgray;
 padding: 2px 0 0 2em;
 background:url(tag.png) no-repeat left 4px;
 line-height: auto;

}
#categories ul li{
 list-style-type: none;

}

.powered {
  font-size: 85%;
  float: right;
}
.prevnext {
  padding: 4px 2px 2px 2px;
 }


.prev {
/* background: url(aldineg.png) no-repeat  left top; */
float:left;
}
.prev:hover {

  /*font-size: 130%;*/
   border: 0px;
   font-style:italic;
}

.next {
	float: right;
	clear: right;
 /* background: url(aldine.png) no-repeat  right top; */

  }
  
.next:hover {  
 /* font-size: 130%;*/
   border: 0px;
   font-style:italic;
}

.nuage div a:hover {  
  /*font-size: 130%;*/
   border: 0px;
   color: #4e5a70
}

.citation {
	float: right;
	clear: right;
  text-align: justify;
  width: 27em;
 	margin : 0.5em ;
	border: 1px solid darkgrey;
	background:#aec2e7;
	padding : 0.5em;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;
   -webkit-box-shadow: 5px 5px 3px #888;
   -moz-box-shadow: 5px 5px 3px #888;
   box-shadow: 5px 5px 3px #888;

}
.une {

	float: right;
	clear: right;

  text-align: justify;
  width: 27em;
 	margin : 0.5em ;
	border: 1px solid darkgrey;
	background: #EF612F;
	padding : 0.5em;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;
   -webkit-box-shadow: 5px 5px 3px #888;
   -moz-box-shadow: 5px 5px 3px #888;
   box-shadow: 5px 5px 3px #888;


}
.une ul li{
	 margin: auto auto auto 2px;
	 list-style-type: none; 

 }
.une a {
 color: #707070
 }

.mus {
	float: right;
	clear: right;
 /* margin : 0.5em ; */
	padding : 0.5em;
  }
#prez {
  background: /*#add2db*/ /*#CCCCFF*/ #ADD8E6;
	padding : 0.5em;
  border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;
   }
   
.date {
  font-size: 85%;
  
}


#comments {
  font-size: 75%;
}

.comment_odd {
  background: #CCCFD5;
    border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;
  padding : 0.5em;
  }
  
.comment_even {
  background: #EDEDED;
    border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px ;
	-khtml-border-radius: 6px ;
  padding : 0.5em;
  }
.comment_header {
  font-style:italic;
   border-bottom: 1px solid gray;
  }
.comment_date {
  font-style:italic;
  }

.highslide-caption {
  text-align: center;
  font-style:italic;
}
