<notextile>
<div class="highslide-gallery">
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n21.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n21.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n22.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n22.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n23.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n23.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n24.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n24.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n25.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n25.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n26.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n26.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n27.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n27.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n28.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n28.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n29.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n29.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-03-00-n30.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-03-00-n30.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-12-00-n2.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-12-00-n2.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-12-00-n3.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-12-00-n3.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/goeland/1992/1992_fabrication_voile_goeland/dia-1992-12-00-n14.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/goeland/1992/1992_fabrication_voile_goeland/p/dia-1992-12-00-n14.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
</div>
</notextile>
