<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0236.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0236.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0243.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0243.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0248.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0248.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0250.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0250.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0252.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0252.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0266.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0266.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2010/20100710_sortie_Mouette/IMGP0267.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2010/20100710_sortie_Mouette/p/IMGP0267.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    