<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1030580.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1030580.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1030571.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1030571.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/DSC_0763.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/DSC_0763.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/DSC_0751.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/DSC_0751.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1010649.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1010649.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/DSC_0773.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/DSC_0773.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1010652.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1010652.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/DSC_0768.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/DSC_0768.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1010647.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1010647.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110428_chantier_mouette_suite/P1010659.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110428_chantier_mouette_suite/p/P1010659.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    