<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110501_xavier_plancher_mouette/IMG_2201.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110501_xavier_plancher_mouette/p/IMG_2201.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110501_xavier_plancher_mouette/IMG_2202.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110501_xavier_plancher_mouette/p/IMG_2202.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110501_xavier_plancher_mouette/IMG_2203.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110501_xavier_plancher_mouette/p/IMG_2203.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110501_xavier_plancher_mouette/IMG_2204.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110501_xavier_plancher_mouette/p/IMG_2204.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110501_xavier_plancher_mouette/IMG_2205.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110501_xavier_plancher_mouette/p/IMG_2205.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    