<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110508_plancher_mouette/IMG_2237.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110508_plancher_mouette/p/IMG_2237.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110508_plancher_mouette/IMG_2239.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110508_plancher_mouette/p/IMG_2239.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110508_plancher_mouette/IMG_2241.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110508_plancher_mouette/p/IMG_2241.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110508_plancher_mouette/IMG_2243.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110508_plancher_mouette/p/IMG_2243.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110508_plancher_mouette/IMG_2244.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110508_plancher_mouette/p/IMG_2244.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    