<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5288.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5288.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5284.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5284.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5283.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5283.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5282.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5282.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5279.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5279.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5276.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5276.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5275.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5275.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5274.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5274.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5272.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5272.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5270.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5270.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5267.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5267.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5265.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5265.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5264.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5264.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5262.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5262.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5260.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5260.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5256.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5256.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5253.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5253.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5251.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5251.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5250.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5250.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5245.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5245.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5242.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5242.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5241.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5241.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5239.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5239.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5235.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5235.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5234.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5234.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5233.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5233.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5228.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5228.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5227.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5227.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110427_plancher_mouette/DSCF5225.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110427_plancher_mouette/p/DSCF5225.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    