<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0309.JPG" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0309.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0313.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0313.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0301.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0301.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0312.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0312.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0295.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0295.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110820_sortie_peche/PICT0290.JPG" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110820_sortie_peche/p/PICT0290.JPG" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    