<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_8_20110912_1915760564.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_8_20110912_1915760564.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_15_20110912_1708226464.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_15_20110912_1708226464.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_11_20110912_1136279362.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_11_20110912_1136279362.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/110910182903077_69000_apx_470.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/110910182903077_69000_apx_470.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/2011_TVK_ouest-france.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/2011_TVK_ouest-france.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_19_20110912_1742039426.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_19_20110912_1742039426.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_13_20110912_2052947864.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_13_20110912_2052947864.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2011/20110910_tvk/tvk_2011_12_20110912_1145857993.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2011/20110910_tvk/p/tvk_2011_12_20110912_1145857993.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    