<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0239.jpeg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0239.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0242.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0242.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0245.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0245.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0233.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0233.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0229.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0229.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2013/20121208_extraction_chemise/DSC_0236.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2013/20121208_extraction_chemise/p/DSC_0236.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    