<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2012/20121110_AG/12110043.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2012/20121110_AG/p/12110043.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110017.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110017.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110053.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110053.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110055.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110055.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110100.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110100.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110035.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110035.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110029.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110029.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110106.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110106.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110060.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110060.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110059.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110059.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110041.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110041.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110049.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110049.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110023.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110023.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110031.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110031.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110076.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110076.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110058.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110058.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110044.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110044.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110027.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110027.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110096.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110096.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110087.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110087.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110083.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110083.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110042.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110042.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110037.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110037.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110082.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110082.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110068.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110068.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110086.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110086.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110067.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110067.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110025.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110025.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110018.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110018.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110088.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110088.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20121110_AG/12110038.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20121110_AG/p/12110038.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    