<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2012/20120221_goeland/20120221_005.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2012/20120221_goeland/p/20120221_005.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120221_goeland/20120221_008.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120221_goeland/p/20120221_008.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    