<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2013/201207_Brest2012/539922_10151149211349513_919064573_n.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2013/201207_Brest2012/p/539922_10151149211349513_919064573_n.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
<div class='highslide-caption'>
    Avec <a href="http://www.marie-fernand.fr/">Marie-Fernand</a>, côtre-pilote du Hâvre
</div>
    </div>
    </notextile>
    
