<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0389.jpeg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0389.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0402.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0402.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240872.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240872.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240868.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240868.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240873.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240873.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0390.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0390.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0394.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0394.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240870.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240870.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240869.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240869.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240865.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240865.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0400.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0400.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240864.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240864.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0387.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0387.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0391.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0391.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240867.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240867.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/P1240871.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/P1240871.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/20120630-taud-haubans/DSC_0403.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/20120630-taud-haubans/p/DSC_0403.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    