<notextile>
<div class="highslide-gallery">
<a href="http://farm8.staticflickr.com/7203/6893255919_0fb9352f4a.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
			<img src="http://farm8.staticflickr.com/7203/6893255919_0fb9352f4a_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		<a href="http://farm8.staticflickr.com/7065/6893255057_25a3654e92.jpg" class="highslide" onclick="return hs.expand(this)">
			<img src="http://farm8.staticflickr.com/7065/6893255057_25a3654e92_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		<a href="http://farm8.staticflickr.com/7184/6861558753_bffcd7ea68.jpg" class="highslide" onclick="return hs.expand(this)">
			<img src="http://farm8.staticflickr.com/7184/6861558753_bffcd7ea68_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		<a href="http://farm8.staticflickr.com/7066/6861558739_a4477df661.jpg" class="highslide" onclick="return hs.expand(this)">
			<img src="http://farm8.staticflickr.com/7066/6861558739_a4477df661_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		<a href="http://farm3.staticflickr.com/2175/5820484725_99fea588e8.jpg" class="highslide" onclick="return hs.expand(this)">
			<img src="http://farm3.staticflickr.com/2175/5820484725_99fea588e8_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		<a href="http://farm3.staticflickr.com/2320/5820996028_c7bd10174c.jpg" class="highslide" onclick="return hs.expand(this)">
			<img src="http://farm3.staticflickr.com/2320/5820996028_c7bd10174c_s.jpg" alt="Highslide JS"
				title="Cliquer pour voir" />
		</a>
		</div>
</notextile>
