<notextile>
<div class="highslide-gallery">
<a href="http://farm7.staticflickr.com/6014/5980728424_02fc2cda1e_b.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
	 <img src="http://farm7.staticflickr.com/6014/5980728424_02fc2cda1e_s.jpg" alt="Highslide JS"
		 title="_FL25645" />
 </a>
 <div class="highslide-caption">_FL25645
</div>
<a href="http://farm8.staticflickr.com/7258/7439015706_1aa7fb946a_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm8.staticflickr.com/7258/7439015706_1aa7fb946a_s.jpg" alt="Highslide JS"
		 title="La Mouette" />
 </a>
 <div class="highslide-caption">La Mouette
</div>
<a href="http://farm4.staticflickr.com/3065/2771375331_9d371935a0_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3065/2771375331_9d371935a0_s.jpg" alt="Highslide JS"
		 title="eh, c'est qui le petit derrière nous ?" />
 </a>
 <div class="highslide-caption">eh, c'est qui le petit derrière nous ?
</div>
<a href="http://farm4.staticflickr.com/3120/2771361591_40e0d60c59_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3120/2771361591_40e0d60c59_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm9.staticflickr.com/8308/7855717614_f7e1b3c319_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm9.staticflickr.com/8308/7855717614_f7e1b3c319_s.jpg" alt="Highslide JS"
		 title="_NPK4485_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4485_Brest2012_N_Pert
</div>
<a href="http://farm8.staticflickr.com/7134/7855717464_c4de2d500f_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm8.staticflickr.com/7134/7855717464_c4de2d500f_s.jpg" alt="Highslide JS"
		 title="_NPK4480_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4480_Brest2012_N_Pert
</div>
<a href="http://farm8.staticflickr.com/7139/7855718144_f62c9b52cb_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm8.staticflickr.com/7139/7855718144_f62c9b52cb_s.jpg" alt="Highslide JS"
		 title="_NPK4534_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4534_Brest2012_N_Pert
</div>
<a href="http://farm8.staticflickr.com/7268/7591008118_184bfd21d6_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm8.staticflickr.com/7268/7591008118_184bfd21d6_s.jpg" alt="Highslide JS"
		 title="_NPK4485_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4485_Brest2012_N_Pert
</div>
<a href="http://farm9.staticflickr.com/8148/7591007898_83fa7f8270_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm9.staticflickr.com/8148/7591007898_83fa7f8270_s.jpg" alt="Highslide JS"
		 title="_NPK4480_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4480_Brest2012_N_Pert
</div>
<a href="http://farm9.staticflickr.com/8164/7591008862_b2bfc12a94_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm9.staticflickr.com/8164/7591008862_b2bfc12a94_s.jpg" alt="Highslide JS"
		 title="_NPK4534_Brest2012_N_Pert" />
 </a>
 <div class="highslide-caption">_NPK4534_Brest2012_N_Pert
</div>
<a href="http://farm5.staticflickr.com/4068/4625490566_8e0e5fbb9e_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm5.staticflickr.com/4068/4625490566_8e0e5fbb9e_s.jpg" alt="Highslide JS"
		 title="Le Conquet" />
 </a>
 <div class="highslide-caption">Le Conquet
</div>
<a href="http://farm1.staticflickr.com/118/288021316_03abcb148b_z.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm1.staticflickr.com/118/288021316_03abcb148b_s.jpg" alt="Highslide JS"
		 title="Le Conquet" />
 </a>
 <div class="highslide-caption">Le Conquet
</div>
<a href="http://farm2.staticflickr.com/1249/5137606368_afd4be7867_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm2.staticflickr.com/1249/5137606368_afd4be7867_s.jpg" alt="Highslide JS"
		 title="Le Conquet" />
 </a>
 <div class="highslide-caption">Le Conquet
</div>
<a href="http://farm7.staticflickr.com/6024/5993326781_36d814599e_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm7.staticflickr.com/6024/5993326781_36d814599e_s.jpg" alt="Highslide JS"
		 title="La Mouette ...Le Conquet." />
 </a>
 <div class="highslide-caption">La Mouette ...Le Conquet.
</div>
<a href="http://farm7.staticflickr.com/6023/5995785446_57c14dc2f5_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm7.staticflickr.com/6023/5995785446_57c14dc2f5_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm7.staticflickr.com/6144/5991775836_dc313f8e32_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm7.staticflickr.com/6144/5991775836_dc313f8e32_s.jpg" alt="Highslide JS"
		 title="Entre Terre et Mer (2) : Le Grand Léjon" />
 </a>
 <div class="highslide-caption">Entre Terre et Mer (2) : Le Grand Léjon
</div>
<a href="http://farm7.staticflickr.com/6123/5993388955_2f08a3e799_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm7.staticflickr.com/6123/5993388955_2f08a3e799_s.jpg" alt="Highslide JS"
		 title="Entre Terre et Mer" />
 </a>
 <div class="highslide-caption">Entre Terre et Mer
</div>
<a href="http://farm7.staticflickr.com/6010/5995866564_221ef08a6d_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm7.staticflickr.com/6010/5995866564_221ef08a6d_s.jpg" alt="Highslide JS"
		 title="Entre Terre et Mer (7)" />
 </a>
 <div class="highslide-caption">Entre Terre et Mer (7)
</div>
<a href="http://farm5.staticflickr.com/4131/4987668156_384d68d518_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm5.staticflickr.com/4131/4987668156_384d68d518_s.jpg" alt="Highslide JS"
		 title="La Mouette." />
 </a>
 <div class="highslide-caption">La Mouette.
</div>
<a href="http://farm5.staticflickr.com/4074/4958986919_890343904b_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm5.staticflickr.com/4074/4958986919_890343904b_s.jpg" alt="Highslide JS"
		 title="Toutes Voiles Kerrhores, la Mouette." />
 </a>
 <div class="highslide-caption">Toutes Voiles Kerrhores, la Mouette.
</div>
<a href="http://farm3.staticflickr.com/2768/4432001168_4ecb462b0a_z.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm3.staticflickr.com/2768/4432001168_4ecb462b0a_s.jpg" alt="Highslide JS"
		 title="Une pensée pour Yves" />
 </a>
 <div class="highslide-caption">Une pensée pour Yves
</div>
<a href="http://farm5.staticflickr.com/4112/4973145051_06ec05d327_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm5.staticflickr.com/4112/4973145051_06ec05d327_s.jpg" alt="Highslide JS"
		 title="Le Conquet à marée basse" />
 </a>
 <div class="highslide-caption">Le Conquet à marée basse
</div>
<a href="http://farm5.staticflickr.com/4133/5057684599_49588d2224_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm5.staticflickr.com/4133/5057684599_49588d2224_s.jpg" alt="Highslide JS"
		 title="Marée basse au Conquet" />
 </a>
 <div class="highslide-caption">Marée basse au Conquet
</div>
<a href="http://farm4.staticflickr.com/3197/5847488241_536a539af5_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3197/5847488241_536a539af5_s.jpg" alt="Highslide JS"
		 title="Le Conquet" />
 </a>
 <div class="highslide-caption">Le Conquet
</div>
<a href="http://farm3.staticflickr.com/2472/5785680750_8f7fffd621_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm3.staticflickr.com/2472/5785680750_8f7fffd621_s.jpg" alt="Highslide JS"
		 title="Brest, Le Conquet, 14 May" />
 </a>
 <div class="highslide-caption">Brest, Le Conquet, 14 May
</div>
<a href="http://farm4.staticflickr.com/3258/2771355743_e87ee3de05_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3258/2771355743_e87ee3de05_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3201/2771363961_77dd537e30_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3201/2771363961_77dd537e30_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3203/2771369557_c07c3a265a_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3203/2771369557_c07c3a265a_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3196/2771388359_c2f72a9d3b_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3196/2771388359_c2f72a9d3b_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3030/2772259918_10244f2272_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3030/2772259918_10244f2272_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3150/2772262350_c95d418a00_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3150/2772262350_c95d418a00_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3229/2772264704_4c6f324064_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3229/2772264704_4c6f324064_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3186/2771421803_94edff70fd_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3186/2771421803_94edff70fd_s.jpg" alt="Highslide JS"
		 title="" />
 </a>
 <div class="highslide-caption">
</div>
<a href="http://farm4.staticflickr.com/3266/2771424127_53f3cc1736_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3266/2771424127_53f3cc1736_s.jpg" alt="Highslide JS"
		 title="Un sacré castard à la godille" />
 </a>
 <div class="highslide-caption">Un sacré castard à la godille
</div>
<a href="http://farm4.staticflickr.com/3163/2771426465_a9400066d8_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3163/2771426465_a9400066d8_s.jpg" alt="Highslide JS"
		 title="y'en a qu'un qui travaille..." />
 </a>
 <div class="highslide-caption">y'en a qu'un qui travaille...
</div>
<a href="http://farm4.staticflickr.com/3252/2771429601_434371e469_b.jpg" class="highslide" onclick="return hs.expand(this)">
	 <img src="http://farm4.staticflickr.com/3252/2771429601_434371e469_s.jpg" alt="Highslide JS"
		 title="Oh là, qui ose doubler le toutouic ?" />
 </a>
 <div class="highslide-caption">Oh là, qui ose doubler le toutouic ?
</div>
</div>
</notextile>
