<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2012/Images/P1240872.jpeg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2012/Images/p/P1240872.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/Images/P1240873.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/Images/p/P1240873.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/Images/DSC_0387.jpeg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/Images/p/DSC_0387.jpeg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    