<notextile>
    <div class="highslide-gallery">
    <a href="/infos_asso/2012/moteur/Convoyage.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
      <img src="/infos_asso/2012/moteur/p/Convoyage.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage7.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage7.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage3.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage2.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage2.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage6.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage6.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/depose3.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/depose3.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage8.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage8.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage4.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage4.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    <a href="/infos_asso/2012/moteur/grutage5.jpg" class="highslide" onclick="return hs.expand(this)">
      <img src="/infos_asso/2012/moteur/p/grutage5.jpg" alt="Highslide JS"
        title="Cliquer pour voir" />
    </a>
    </div>
    </notextile>
    