<notextile>
<div class="highslide-gallery">
<a href="http://trimartolod.free.fr/infos_asso/2004/Brest2004_12juillet_Navigation_en_Rade/IMG_0924_12uillet2004.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
	<img src="http://trimartolod.free.fr/infos_asso/2004/Brest2004_12juillet_Navigation_en_Rade/p/IMG_0924_12uillet2004.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="http://trimartolod.free.fr/goeland/2004/Sortie_de_l_eau_3_avril/sortie_de_l_eau004.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/goeland/2004/Sortie_de_l_eau_3_avril/p/sortie_de_l_eau004.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="http://trimartolod.free.fr/infos_asso/2002/Blious_Brai_(fin)/bliousbrai20.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2002/Blious_Brai_(fin)/p/bliousbrai20.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
</div>
</notextile>
