<notextile>
<div class="highslide-gallery">
<a href="/fonds_ecran/sillon_anglais_2007/p1090523.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
	<img src="/fonds_ecran/sillon_anglais_2007/p/p1090523.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<a href="/fonds_ecran/sillon_anglais_2007/p1090526.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="/fonds_ecran/sillon_anglais_2007/p/p1090526.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
</div>
</notextile>
