<notextile>
<div class="highslide-gallery">
<a href="http://trimartolod.free.fr/goeland/2005/03_aout_mouette_goeland_en_peche/P1010147.jpg" class="highslide" onclick="return hs.expand(this, { autoplay:true })">
	<img src="http://trimartolod.free.fr/goeland/2005/03_aout_mouette_goeland_en_peche/p/P1010147.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
    Goéland en pêche aux Pierres Noires.
</div>
<a href="http://trimartolod.free.fr/goeland/2007/070728_parcours_cotier/dscf1058.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/goeland/2007/070728_parcours_cotier/p/dscf1058.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
    Goéland lors du parcours côtier 2007.
</div>
<a href="http://trimartolod.free.fr/mouette/2009/TVK_2009/TVK_marine_09026.JPG" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/mouette/2009/TVK_2009/p/TVK_marine_09026.JPG" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette vue de l'ancien pont sur l'Elorn, TVK 2009.
</div>
<a href="http://trimartolod.free.fr/toutouic/2007/070728_parcours_cotier/P1080654.JPG" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/toutouic/2007/070728_parcours_cotier/p/P1080654.JPG" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Toutouic, parcours côtier 2007.
</div>
<a href="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/DSC_8727.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/p/DSC_8727.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Dom Michel, parcours côtier 2009.
</div>
<a href="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/DSC_8809.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/p/DSC_8809.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, parcours côtier 2009.
</div>
<a href="http://trimartolod.free.fr/infos_asso/2010/tvk_2010/tvk2010_16_20100905_1857418126.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2010/tvk_2010/p/tvk2010_16_20100905_1857418126.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, TVK 2010.
</div>
<a href="http://trimartolod.free.fr/infos_asso/2010/brestitude/5014552842_78c7859a90_b.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2010/brestitude/p/5014552842_78c7859a90_b.jpg" alt="Highslide JS"
		title="Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette de retour des îles, vue du ciel. Photo <a href="http://www.flickr.com/photos/brestitude/">Brestitude</a>
</div>
<a href="http://trimartolod.free.fr/infos_asso/2009/20090726_parcours_cotier_stef/DSC_8634.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2009/20090726_parcours_cotier_stef/p/DSC_8634.jpg" alt="Parcours côtier 2009"
		title="Parcours côtier 2009 - Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, parcours côtier 2009.  Photo <a href="http://www.ledauphin.org/">Stéphane</a>
</div>
<a href="http://trimartolod.free.fr/infos_asso/2009/20090726_parcours_cotier_stef/DSC_8903.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2009/20090726_parcours_cotier_stef/p/DSC_8903.jpg" alt="Parcours côtier 2009"
		title="Parcours côtier 2009 - Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, parcours côtier 2009.  Photo <a href="http://www.ledauphin.org/">Stéphane</a>
</div>
<a href="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/DSC_8633.jpg" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2009/20090726_TriMartolod_parcours_cotier/p/DSC_8633.jpg" alt="Parcours côtier 2009"
		title="Parcours côtier 2009 - Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, parcours côtier 2009.  Photo <a href="http://www.ledauphin.org/">Stéphane</a>
</div>
<a href="http://trimartolod.free.fr/infos_asso/2007/070728_parcours_cotier/bateaux_de_travail/P1080628.JPG" class="highslide" onclick="return hs.expand(this)">
	<img src="http://trimartolod.free.fr/infos_asso/2007/070728_parcours_cotier/bateaux_de_travail/p/P1080628.JPG" alt="Parcours côtier 2007"
		title="Parcours côtier 2007 - Cliquer pour voir" />
</a>
<div class='highslide-caption'>
Mouette, parcours côtier 2009.
</div>
</div>
</notextile>
