---
layout: basic
---
{% include prevnext.textile %}
{% include date.textile %}
{% include tags.textile %}

<div id="post">
<h1>{{  page.title }}</h1>
{{ content }}
</div>
{% include prevnext.textile %}
<hr>
<div id="comments">
	{% case page.comment_count %}
		{% when 0 %}
		{% when 1 %}
			<h1>1 Commentaire</h1>
		{% else %}
			<h1>{{page.comment_count}} Commentaires</h1>
	{% endcase %}
	{% for c in page.comments %}
		<div class="comment_{% cycle 'odd', 'even' %}">
			<p class="comment_header">
				De {% if c.link %}
					<a href="{{c.link}}">{{c.name}}</a>
				{% else %}
					{{c.name}}
				{% endif %}
	
				<span class="comment_date"> le {{c.date}}</span>
			</p>
			<p>
				{{c.comment | newline_to_br}}
			</p>
		</div>
	{% endfor %}
	<!--h1>Ajouter un commentaire</h1-->
	<p style="font-style: italic">
		Votre avis :
	</p>
	<form id="commentform" method="POST" action="{{site.url}}/commentsubmit.php">
		
		<table>
			<tr>
				<th>Nom, pseudo:</th>
				<td><input type="text" size="25" name="name" /> (nécessaire)</td>
			</tr>
			<tr>
				<th>Courriel, E-mail:</th>
				<td><input type="text" size="25" name="email" /> (nécessaire, non publié)</td>
			</tr>
			<tr>
				<th>Site:</th>
				<td><input type="text" size="25" name="link" /> (optionnel)</td>
			</tr>
			<tr>
				<td colspan="2"><textarea name="comment" rows="10" cols="60" ></textarea></td>
			</tr>
			<tr>
				<td><input type="submit" name="submit" value="Envoi" />
				<input type="hidden" name="post_id" value="{{page.id}}" /></td>
			</tr>
		</table>
	</form>
</div>


