---
layout: default
---

<!--span class="citation">{{ page.citation }} </span-->

{% if page.related %}
<span id="categories">
<h1 > Tags associés : </h1>
<ul>
{% for tag in page.related %}
	<li>
		&nbsp;&#x2767;&nbsp;<a href="/tag/{{ tag }}">{{ tag }}</a>
	</li>
{% endfor %}
</ul>
</span>
{% endif %}

<span><h1> Tag: {{ page.tag }} </h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li> 
    <a class="zoom" href="{{post.url}}">&#x2767;&nbsp;{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
</span>

