---
layout: default
---

{% if page.tag == "mouette" %}
{% include bestof_mouette.html %}
{% endif %}

{% if page.tag == "goeland" %}
{% include bestof_goeland.html %}
{% endif %}

{% if page.tag == "toutouic" %}
{% include bestof_toutouic.html %}
{% endif %}

{% if page.tag == "dommichel" %}
{% include bestof_dommichel.html %}
{% endif %}

{% if page.tag == "fleurdesabers" %}
{% include bestof_fleurdesabers.html %}
{% endif %}



<!--span class="citation">{{ page.citation }} </span-->

{% if page.related %}
<div id="categories">
<h1 > Tags associés : </h1>
<ul>
{% for tag in page.related %}
	<li>
		&nbsp;&#x2767;&nbsp;<a href="/tag/{{ tag }}">{{ tag }}</a>
	</li>
{% endfor %}
</ul>

{% endif %}
</div>

<div id="prez"><h1> Tag: {{ page.tag }} </h1>
<ul>
{% for post in site.tags[page.tag] %}
  <li> 
    <a class="zoom" href="{{post.url}}">&#x2767;&nbsp;{{ post.title }}</a>
  </li>
{% endfor %}
</ul>
</div>

{% if page.tag == "presentation" %}
{% include quirataires_goeland.html %}
{% include quirataires_mouette.html %}
{% include quirataires_toutouic.html %}
{% include quirataires_dommichel.html %}
{% include quirataires_fleurdesabers.html %}
{% endif %}

